# Pycharm
.idea/

# python
__pycache__/
*/__pycache__/

# Environment
venv/

# Data
data/probings/
data/*/esnli_train*
# too large for git
data/explanations/

# analysis
.ipynb_checkpoints
notebooks/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
